	<%= link_to 'New Comment', '#', class: 'show_new_form'%>
	<div class="new_comment_form initiallyHidden">
		<%= render partial: 'comments/new', locals: {riddle: @riddle, comment: Comment.new} %>
	</div>
	<h3>Answers</h3>
		<% riddle.comments.each do |comment| %>
			<%= render partial: 'comments/show', locals: {riddle: riddle, comment: comment } %>
		<% end %>
