  <%= link_to 'New Comment', '#', class: 'show_new_form'%>
  <div class="new_comment_form initiallyHidden">
    <%= render partial: 'comments/new', locals: {riddle: @riddle, comment: Comment.new}, class: 'new_comment_form' %>
  </div>
	<div class="answer_title">Answers</div>
		<% riddle.comments.each do |comment| %>
			<%= render partial: 'comments/show', locals: {riddle: riddle, comment: comment } %>
		<% end %>
