<div class="container">

  <%= form_for [@riddle, @comment] do |f| %>
    <%= f.text_area :body, class: "form-field .tall-form-field comment-form-field", placeholder: "comment"  %>

    <%= f.submit class: "btn inline-btn" %>
  <% end %>

  <%= button_to('Destroy', riddle_comment_path(@riddle, @comment), method: :delete, class: "btn inline-btn" ) %>
</div>