body {
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  color: #212121;
}

::-webkit-input-placeholder {
  font-size: 15px;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 15px;
}

:-ms-input-placeholder {
  font-size: 15px;
}

.title a, .title a:visited {
  text-decoration: none;
  color: #212121;
}

.btn:hover {
  opacity: .75;
}

.initiallyHidden {
  display: none;
  text-align: center;
  color: #777;
  font-size: 20px;
  padding-bottom: 25px;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: .85;
}

/*.container {
  margin-top: 125px;
}*/

/* NAV BAR */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,.85);
}

.nav-link {
  display: inline-block;
  margin-top: 20px;
}

.left-nav-link a, .right-nav-link a {
  color: #FFF;
}

.left-nav-link {
  float: left;
  margin-left: 75px;
  font-size: 25px;
  font-family: 'Megrim';
  margin-top: 15px;
}

.right-nav-link {
  float: right;
  margin-right: 75px;
}

.nav-link-1 {
  margin-right: 35px;
}

.nav-link-1, .nav-link-2 {
  font-size: 17.5px;
  text-transform: uppercase;
}

input:focus, textarea { outline: none !important; }

.form-field {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-size: 15px;
  margin-bottom: 10px;
  color: #212121;
  border: 1px solid #212121;
}

.btn {
  background: none;
  text-decoration: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  color: #fff;
  background-color: #BF3B3B;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 2.5px;
  padding: 15px 30px 15px 30px;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 20px;
}

@media (max-width: 500px) {
  .left-nav-link {
    margin-left: 25px;
  }

  .right-nav-link {
    margin-right: 25px;
  }

  .nav-link-1 {
    margin-right: 25px;
  }
}

.header {
  text-align: center;
  color: #212121;
}

.container {
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tall-form-field {
  height: 200px;
}

.landing-page-img {
  margin-top: -125px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.65) 100%), url(reading.jpg) no-repeat;
  background-position: 50% 50%;
  border-bottom: 1px solid #F0F0F0;
  background-size: cover;
  padding-top: 225px;
  padding-bottom: 125px;
  margin-bottom: 50px;
}

.logo-img {
  -webkit-filter: invert(100%) !important;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tagline {
  margin-top: 15px;
  color: #FFF;
  text-align: center;
  font-family: 'Megrim';
  font-size: 45px;
}

.title {
  text-decoration: none;
  color: #212121;
  padding-bottom: 15px;
  border-bottom: 1px solid #C0C0C0;
  font-size: 35px;
}

.title a:visited, .riddle-link a:visited, .riddle-link a {
  color: #212121;
}

.riddle-link {
  border-bottom: 1px solid #C0C0C0;
  padding: 25px;
}

.riddle-link a {
  font-size: 20px;
  color: #777;
}

.riddle-link a, .riddle-link a:visited {
  font-size: 20px;
  color: #777;
}

.upvotes_comments {
  font-size: 17.5px;
  color: #BF3B3B;
  float: right;
}

.heart-img {
  width: 20px;
  opacity: .45;
  margin-bottom: -5px;
}

.footer {
  background-color: rgb(234,238,235);
  margin-top: 75px;
  padding: 25px 0px 25px 0px;
  text-align: center;
  bottom: 0;
  height: 25px;
  width: 100%;
}

.footer-text {
  color: #777;
  font-size: 17.5px;
}

.comment {
  border-top: 1px solid #C0C0C0;
  text-align: justify;
  padding: 25px 25px 25px 25px;
}

.comment-body {
  color: #333;
}

.comment-stamp {
  color: #BF3B3B;
  float: right;
  font-size: 15px;
}

.comment-btn {
  background: none;
  text-decoration: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  color: #999;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0;
  font-size: 15px;
  display: inline-block;
  font-weight: 400;
}

.comment_tags {
  margin-top: 25px;
}

.comment-form-field {
  height: 200px;
  width: 75%;
}

.riddle_title {
  font-size: 35px;
  margin-bottom: 10px;
  color: #212121;
}

#riddle_body {
  color: #212121;
  font-size: 20px;
}

.show_new_form {
  color: #BF3B3B;
  float: right;
}

.answer_title {
  margin: 20px 0px 10px 0px;
  font-size: 25px;
  font-weight: 400;
  color: #999;
  background-image:
}

.riddle-top {
  background-color: rgb(234,238,235);
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.new_comment_form {
  margin-top: 25px;
}

.answers {
  margin-top: 25px;
  margin-bottom: 10px;
}

.ans_btn {
  font-family: 'Sacramento', cursive;
  text-transform: none;
  background-color: rgba(0,0,0,0.0);
  color: #777;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 10px;
  padding-bottom: 0px;
}

input, textarea, keygen, select, button  {
  font-family: 'Quicksand';
}

.riddle-stats {
  font-size: 17.5px;
  font-weight: 700;
}

body {
   margin:0;
   padding:0;
   height:100%;
}

#wrapper {
   min-height:100%;
   position:relative;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#body {
  padding-bottom:25px;
  padding-top: 125px;
}
.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:25px;
}