<h1>Unanswered Riddles</h1>
<% @uns_riddles.each do |r| %>
  <%= link_to "#{r.title}", riddle_path(r) %>
<% end %>

<br>

<h1>Answered Riddle</h1>
<% @ans_riddles.each do |r| %>
  <%= link_to "#{r.title}", riddle_path(r) %>
<% end %>